/* CSS reset
(all the browsers will see the website in the same by setting every tag to 0 (the website will look the same on all browsers))
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
}


/* General styles
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules bellow (h2, h3, h4, h5, h6, p, a, ul, li))
*/

body {
    text-align: center;
}


/* Header styles
(all the styles inside the < header > or < nav > tags)
*/

header {
    background-image: url("/image-assets/discover.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 42rem;
    overflow: auto;
}

.header-text {
    margin-top: 9rem;
}

header h1 {
    font-family: 'Yellowtail', cursive;
    font-size: 3rem;
    color: #16393B;
}

header .callToActionButton,
header .instruction-container
 {
    background-color:rgba(88,118,120,0.5);
}

.instruction-container {
    width: 75%;
    margin-top: 11rem;
    margin-left: auto;
    margin-right: auto;
}

header p {
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    padding: 1rem 1rem;
    opacity: 1;
}

.callToActionButton {
    border: 3px solid white;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 2rem;
    color: white;
    padding: 0 2.4rem;
    margin-top: 1rem;
}

.callToActionButton:hover{
    background-color:rgba(88,118,120,0.8);
}


/* Content styles
(all the styles inside the < sections > or < aside > tags)
*/

#map {
    width: 500px;
    height: 500px;
}

.search-container {
    background-color: #D1D1D1;
    margin-top: 4rem;
    padding: 0.5rem;
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
}

.search {
    border: 1px solid #C0C0C0;
    border-radius: 20px;
}

input.search {
    padding: 0.5rem 3rem;
    background-color: #f2f2f2;
}

button.search {
    padding: 0.5rem 1rem;
    background-color: #16393B;
    color: white;
}


/* Footer styles
(all the styles inside the < footer > tag)
*/


/* Responsive styles
(the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)
*/
